.edit__placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  flex-direction: column;
}

.edit__placeholder img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  image-rendering: optimizeQuality;
}

.input__pic {
  display: none;
}

.choose__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  height: 30px;
  width: 130px;
  background-color: rgb(0, 149, 246);
  border-radius: 12px;
  cursor: pointer;
  color: white;
  font-size: 18px;
}

/* .profile__img__pop {

} */
