.project__card {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.63);
  padding-bottom: 10px;
}

.project__card h1 {
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.project__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  text-decoration: none;
  width: 140px;
  gap: 15px;
  height: 25px;
  border-radius: 10px;
  background-color: white;
  color: rgb(0, 149, 246);
  border: 1.5px solid rgb(0, 149, 246);
}

.project__btn:hover {
  background-color: rgb(0, 149, 246);
  color: white;
  transition: ease-in-out 0.3s;
}

.project__h2 {
  margin-bottom: 10px;
  color: rgb(0, 149, 246);
  font-size: 20px;
}

.project__top {
  display: flex;
  align-items: center;
}

.project__top h1 {
  text-transform: capitalize;
}

.project__icons {
  display: flex;
  position: absolute;
  margin-left: 510px;
  gap: 20px;
}

.blue__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgb(0, 149, 246);
  border-radius: 50%;
  color: rgb(0, 149, 246);
  cursor: pointer;
}

.blue__icon:hover {
  background-color: rgb(0, 149, 246);
  color: white;
  transition: ease-in-out 0.3s;
}

.icons {
  display: flex;
  gap: 20px;
}

.top__icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.move {
  position: relative;
  top: -8px;
}

.form__inner {
  display: flex;
  flex-direction: column;
}

.form__inputs {
  margin-top: 20px;
  padding: 10px;
}

.input__order {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.form__btn {
  margin-top: 40px;
}

.height {
  height: 350px;
}

.form__btn {
  background-color: rgb(0, 149, 246);
  color: white;
  border-color: transparent;
  border-radius: 12px;
  cursor: pointer;
}

.project__desc {
  margin-top: 10px;
}

.see__more {
  color: red;
  margin-top: 15px;
  cursor: pointer;
}

.delete__main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  font-size: 20px;
}

.delete__choice {
  display: flex;
  gap: 30px;
  text-transform: capitalize;
  margin-top: 10px;
}

.delete__choice p {
  cursor: pointer;
}

.yes {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: black;
  color: green;
  font-weight: 800;
  width: 100px;
}

.no {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: black;
  color: red;
  font-weight: 800;
  width: 100px;
}
